<ng-container *ngIf="circle">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{circle.name}} Circle ({{circle.no}})</h3>
        <p class="card-text"><b>Meets every</b>: {{circle.meetingWeek}} {{circle.meetingDay}}</p>
        <p class="card-text"><b>Address</b>: {{circle.address}}</p>
        <p class="card-text"><b>Date of next event</b>: {{selectedNextEvent.when | date:'fullDate'}}</p> 
        <p class="card-text text-right"><button type="button" class="btn btn-warning"><span class="">Book in</span></button></p> 
      </div>
    </div>
  </div>
</ng-container>